header,footer{
  width: 100%;
  padding: 10px;
  background-color: #c52f24;
  color: #fff;
  margin: 0px;
}

a {
  text-decoration: none;
}
// table {
//   border-collapse: collapse;
// }


// table th {
//   background-color: #ffdfdf;
//   border: solid 1px black;
//   padding: 10px 20px;
// }

// table tr {
//   display: table-cell;
//   vertical-align: inherit;
// }
